AGENT_MASTER_TOKEN="agent-master-token-for-dev"
AGENT_TOKEN=
API_URL="http://localhost:8080"
CI_COMMIT_SHA="random"
CI_PIPELINE_CREATED="1730421126"
DATABASE_URL=postgres://postgres:mysecret@localhost:5439/postgres 
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="mysecret"
POSTGRES_HOSTNAME="localhost"
POSTGRES_PORT="5439"
POSTGRES_DATABASE="postgres"
DISABLE_AUTHENTICATION="true"
GIT_CONFIGS_REPOSITORY="tmp"
JOB_DEFAULT_TIMEOUT="1h"
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_CONFIGURATION_URL=
OIDC_PROVIDER_IMAGE=
OIDC_PROVIDER_NAME=
SSH_KEYS_REPOSITORY="tmp"
UI_URL="http://localhost:3000"
VAULT_ADDR="http://localhost:8200"
VAULT_PATH="kv/data/timelord"
VAULT_TOKEN="root"